@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,700");
body {
    overflow-x: hidden;
    overflow-y: auto;
    /* overflow: scroll; */
    padding-top: 65px;
    font-family: "Maven Pro", sans-serif;
    background-color: white;
}


.dot-bg {
    /*    background-color: #ffffff;*/
    background: url("../asset/svg/d.svg");
}

.full-screen {
    padding: 9rem 0;
}

.small-text {
    color: #5b5b5b;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 50px;
    letter-spacing: 0.2px;
}

p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    color: #5b5b5b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    letter-spacing: -1px;
}

h1 {
    color: #212121;
    font-size: 2.8em;
    margin: 22px 0;
}

h2 {
    color: #353535;
    font-size: 2.4em;
    font-weight: bold;
}

h3 {
    color: #484848;
}

h3,
b,
strong {
    font-weight: bold;
}

.custom-btn {
    background: #eee;
    color: #5b5b5b;
    font-weight: bold;
    border-radius: 50px;
    padding: 13px 29px;
    font-size: 14px;
    line-height: normal;
    overflow: hidden;
    transition: all 0.4s ease;
}

.custom-btn:hover {
    color: #ff7700;
}

.custom-btn.custom-btn-bg {
    background: #474559;
    color: #ffffff;
}

.custom-btn.custom-btn-bg:hover {
    background: #ff7700;
    color: #ffffff !important;
}


/*NavbAR*/

.logo {
    content: url("../asset/logo-dark.png");
    height: auto;
    width: 190px;
}

nav {
    background-color: white;
    box-shadow: 0 2px 3px -1px rgba(0, 0, 0, .5);
}

.navbar ul li a {
    color: #FF7700;
    font-weight: 700;
    margin-right: 20px;
}

.navbar ul li a:active {
    color: darkgoldenrod;
    font-weight: 700;
}

.navbar-toggler {
    background-color: #FF7700;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
    border-color: #FF7700;
}

.dropdown:hover>.dropdown-menu {
    display: block;
    transition-delay: 0s;
}

.toggle-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.toggle-slot {
    /*    margin-bottom:px;*/
    position: relative;
    height: 2.5em;
    width: 5em;
    border: 5px solid #ff7700;
    border-radius: 1.6em;
    background-color: white;
    box-shadow: 0px 1px 18px #e4e7ec;
    transition: background-color 250ms;
}

.toggle-checkbox:checked~.toggle-slot {
    background-color: #374151;
}

.toggle-button {
    position: absolute;
    height: 1.7em;
    width: 1.7em;
    border-radius: 70%;
    background-color: #ffeccf;
    box-shadow: inset 0px 0px 0px 0.1em #ffbb52;
    transform: translate(2.5em, 0.1em);
    transition: background-color 250ms, border-color 250ms, transform 500ms cubic-bezier(.2, 2, .46, .4);
}

.toggle-checkbox:checked~.toggle-slot .toggle-button {
    background-color: #485367;
    box-shadow: inset 0px 0px 0px 0.1em white;
    transform: translate(0.2em, 1px);
}

.sun-icon {
    position: absolute;
    height: 1.6em;
    width: 1.6em;
    color: #ffbb52;
}

.sun-icon-wrapper {
    position: absolute;
    height: 1em;
    width: 1em;
    opacity: 1;
    transform: translate(0.4em, 0.1em) rotate(12deg);
    transform-origin: 70% 20%;
    transition: opacity 150ms, transform 500ms cubic-bezier(.26, 2.1, .46, .71);
}

.toggle-checkbox:checked~.toggle-slot .sun-icon-wrapper {
    opacity: 0;
    transform: translate(2.5em, 0.1em) rotate(10deg);
}

.moon-icon {
    position: absolute;
    height: 1.6em;
    width: 1.6em;
    color: white;
}

.moon-icon-wrapper {
    position: absolute;
    height: 1em;
    width: 1em;
    opacity: 0;
    transform: translate(0.1em, 0.1em) rotate(0deg);
    transform-origin: 50% 50%;
    transition: opacity 150ms, transform 500ms cubic-bezier(.26, 2.2, .46, .71);
}

.toggle-checkbox:checked~.toggle-slot .moon-icon-wrapper {
    opacity: 1;
    transform: translate(2.5em, 0.1em) rotate(0deg);
}


/*NavBar Ends*/

.about {
    padding-bottom: 20em;
}

animated {
    /*  position: relative;*/
    margin-top: 450px;
}

.animated-info {
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    min-width: 300px;
    position: relative;
}

.animated-item {
    color: #ff7700;
}

.animated-item {
    font-size: 38px;
    line-height: inherit;
    display: block;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    animation: BottomTotop 6s linear infinite 0s;
}

.animated-item:nth-child(2n+2) {
    animation-delay: 2s;
}

.animated-item:nth-child(3n+3) {
    animation-delay: 4s;
}

@keyframes BottomTotop {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0;
        transform: translateY(5px);
    }
    10% {
        opacity: 1;
        transform: translateY(0px);
    }
    25% {
        opacity: 1;
        transform: translateY(0px);
    }
    30% {
        opacity: 0;
        transform: translateY(0px);
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.home-image img {
    margin: 20px;
    position: absolute;
    right: -70em;
    width: 35em;
    height: auto;
    /*    background: blue;*/
    -webkit-animation: slide 0.8s forwards;
    -webkit-animation-delay: 1s;
    animation: slide 0.8s forwards;
    animation-delay: .6s;
}

@-webkit-keyframes slide {
    100% {
        right: 0;
    }
}

@keyframes slide {
    100% {
        right: 0;
    }
}


/*Services*/

.section-services {
    padding-top: 110px;
    padding-bottom: 120px;
    /*    margin-top: 20em;*/
    font-family: "Poppins", sans-serif;
    background-color: #DCDCDC;
}

.section-services .header-section {
    margin-bottom: 35px;
}

.section-services .header-section .title {
    position: relative;
    margin-bottom: 40px;
    padding-bottom: 25px;
    text-transform: uppercase;
    font-weight: 700;
}

.section-services .header-section .title:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 140px;
    height: 1px;
    background-color: #ff7700;
}

.section-services .header-section .title:after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    width: 45px;
    height: 3px;
    background-color: #ff7700;
}

.section-services .header-section .title span {
    color: #ff7700;
}

.section-services .header-section .description {
    color: #6f6f71;
}

.section-services .single-service {
    margin-top: 40px;
    background-color: #fff;
    box-shadow: 0 0 19px 0 rgba(0, 0, 0, .1);
}

.section-services .single-service .part-1 {
    padding: 40px 40px 25px;
    border-bottom: 2px solid #1d1e23;
}

.section-services .single-service .part-1 i {
    margin-bottom: 25px;
    font-size: 50px;
    color: #ff7700;
}

.section-services .single-service .part-1 .title {
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 1.8em;
}

.section-services .single-service .part-2 {
    padding: 30px 40px 40px;
}

.section-services .single-service .part-2 .description {
    margin-bottom: 22px;
    color: #6f6f71;
    font-size: 14px;
    line-height: 1.8em;
}

.section-services .single-service .part-2 a {
    color: black;
    font-size: 14px;
    text-decoration: none;
}

.section-services .single-service .part-2 a i {
    margin-right: 10px;
    color: #ff7700;
}

#clients {
    padding: 60px 160px;
    padding-bottom: 220px;
    z-index: -1;
    margin-bottom: -185px;
}

#clients img {
    max-width: 100%;
     display: block;
/*    height: 100%;*/
    width: auto;
    opacity: .5;
    transition: 0.3s;
    padding-top: 20px;
}

#clients img:hover {
    opacity: 1;
}

#clients .owl-nav,
#clients .owl-dots {
    margin-top: 5px;
    text-align: center;
}

#clients .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd;
}

#clients .owl-dot.active {
    background-color: #ff7700;
}

.contact_us {
    position: relative;
    z-index: 5;
    margin-top: 20px;
/*    background: #fff;*/
}



/*Contact Form*/

.contact-form {
    position: relative;
    background-color: #ff7700;
    padding-top: 50px;
    padding-bottom: 50px;
}

.contact-form ::-webkit-input-placeholder {
    color: White;
}


.contact-form .form-control {
    background: transparent;
    border-radius: 2px;
    outline: none;
    box-shadow: none;
    font-weight: bold;
    margin: 16px 0;
}

.contact-form .form-control:not(textarea) {
    height: 48px;
}

.contact-form .form-control:hover,
.contact-form .form-control:focus {
    border-color: #ffc200;
}

.contact-form .submit-btn {
    background: #ffc200;
    border-radius: 50px;
    color: #ffffff;
    font-weight: bold;
    border: 0;
    cursor: pointer;
    transition: all 0.4s ease;
}

.contact-form .submit-btn:hover {
    background: #ff7700;
}


/*Bac to top*/

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgba(0, 0, 0, 0.7);
    width: 40px;
    height: 40px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 25px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    box-shadow: 0px 0px 0px 0.1em black;
    z-index: 7;
}

#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 11px;
    top: 5px;
    font-size: 30px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: #ff7700;
}

#return-to-top:hover i {
    color: #fff;
    top: 1px;
}

/*Footer*/

.footer-area {
  background-color: #f7f7f7;
 padding: 500px 0px 10px;
    z-index: 1;
    margin-top: -355px
}


.footer-area .form-control {
  background-color: transparent;
}

/*
.footer-area .single-footer-widget {
    margin-bottom:
}
*/

.footer-area .single-footer-widget p {
  font-size: 14px;
  line-height: 1.8;
}

.footer-area .single-footer-widget h4 {
  margin-bottom: 23px;
  font-weight: 700;
  font-size: 24px;
}

.footer-area .single-footer-widget input {
  height: 40px;
  border: none;
  width: 67% !important;
  font-weight: 400;
  padding-left: 20px;
  border-radius: 0;
  font-size: 13px;
  color: #999999;
  border: 0px solid transparent;
  font-family: "Roboto", sans-serif;
}

.footer-area .single-footer-widget input:focus {
  outline: none;
  box-shadow: none;
}

.footer-area .single-footer-widget .click-btn {
  background-color: #ff663b;
  color: #fff;
  border-radius: 0;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 8px 20px;
  border: 0;
  font-size: 12px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  position: relative;
  left: 0;
}

.footer-area .single-footer-widget .click-btn:focus {
  outline: none;
  box-shadow: none;
}

.footer-area .footer_1 img {
  margin-bottom: 35px;
}

.footer-area .footer_1 p {
  margin-bottom: 15px;
}

.footer-area .footer_2 .social_icon {
  margin-top: 27px;
}

.footer-area .footer_2 .social_icon a {
  color: #cccccc;
/*  font-size: 14px;*/
  margin-right: 20px;
}

.footer-area .footer_3 .footer_img .single_footer_img {
  width: 30%;
  float: left;
  margin: 1%;
  position: relative;
  z-index: 2;
}

.footer-area .footer_3 .footer_img .single_footer_img:after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  background-color: #000;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer-area .footer_3 .footer_img .single_footer_img i {
  text-align: center;
  position: absolute;
  top: 41%;
  margin: 0 auto;
  left: 0;
  right: 0;
  color: #fff;
  z-index: 2;
  opacity: 0;
}

.footer-area .footer_3 .footer_img .single_footer_img:hover:after {
  opacity: 0.5;
}

.footer-area .footer_3 .footer_img .single_footer_img:hover i {
  opacity: 1;
}

.footer-area .contact_info {
  position: relative;
  margin-bottom: 20px;
}

.footer-area .contact_info:last-child {
  margin-bottom: 0px;
}

.footer-area .contact_info p {
  margin-bottom: 10px;
}

.footer-area .contact_info p span {
  color: #ff7700;
  font-size: 16px;
}

.footer-area .btn {
  background-color: #ff7700;
  color: #fff;
  width: 40px;
  border-radius: 0px;
  height: 40px;
  padding: 0;
  border-radius: 2px !important;
}

.footer-area .copyright_part_text {
  padding-top: 10px;
  margin-top: 112px;
  border-top: 1px solid #dedede;
}

.footer-area .copyright_part_text p {
  font-size: 15px;
}


.footer-area .copyright_part_text a {
  color: #ff663b;
}

.footer-area .input-group {
  border: 1px solid #dedede;
  padding: 5px;
}

.footer-area .input-group ::placeholder {
  font-size: 13px;
  color: #999;
}

.footer-area .container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  overflow: hidden;
}







/*Bottom Border*/
#box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 12px;
    color: white;
    overflow: hidden;
}

.gradient-border {
    --borderWidth: 10px;
    position: relative;
}

.gradient-border:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    z-index: -1;
    animation: animatedgradient 2s ease alternate infinite;
    background-size: 300% 300%;
}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


/*Dark Mode*/

body .dark-mode {
    background: #151515;
}

.dark-mode .dot-bg {
    background-color: #151515;
    background-image: url("../asset/svg/d-dark.svg");
}

.dark-mode .logo {
    content: url("../asset/logo-light.png");
}

.dark-mode .navbar {
    background-color: #1F1B24;
}

.dark-mode .dropdown .dropdown-menu {
    background: #0d0c15;
    transition: opacity 5s;
}

.dark-mode .dropdown:hover>.dropdown-menu {
    display: block;
    background: #0d0c15;
}

.dark-mode .dropdown ul li:hover>.dropdown-menu {
    background-color: aqua;
}

.dark-mode .navbar .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.8);
}

.dark-mode .navbar .navbar-nav .nav-link:hover {
    color: #ff7700;
}

.dark-mode .small-text {
    background: #0d0c15;
    color: #ffffff;
}

.dark-mode .feature-card .uil,
.dark-mode .navbar-light .navbar-brand,
.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode h5,
.dark-mode h6,
.dark-mode .color-mode {
    color: #ffffff;
}


/*Services Dark*/

.dark-mode .section-services {
    background-color: #211f24;
    color: #fff;
}

.dark-mode .section-services .header-section .title:before {
    background-color: #ff7700;
}

.dark-mode .section-services .header-section .title:after {
    background-color: #ff7700;
}

.dark-mode .section-services .header-section .title span {
    color: #ff7700;
}

.dark-mode .section-services .header-section .description {
    color: #6f6f71;
}

.dark-mode .section-services .single-service {
    background-color: #24252a;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
}

.dark-mode .section-services .single-service .part-1 i {
    color: #ff7700;
}

.dark-mode .section-services .single-service .part-2 .description {
    color: #6f6f71;
}

.dark-mode .section-services .single-service .part-2 a {
    color: #fff;
}

.dark-mode #clients {
    background: #282828;
    /*  margin-top: 10px;*/
}

.dark-mode .shadow-me {
    background-color: #24252a;
}

.dark-mode .contact-form {
    background-color: #24252a;
}

.dark-mode #return-to-top {
    background: #fff;
}

.dark-mode #return-to-top i {
    color: black;
}

.dark-mode #return-to-top:hover {
    background: #ff7700;
}

.dark-mode #return-to-top:hover i {
    color: #fff;
}
.dark-mode .shadow-me{
    box-shadow: 0px 1px 30px #e4e7ec;
}

.dark-mode .footer-area {
  background-color: #151515;
  padding: 500px 0px 10px;
    z-index: 1;
    margin-top: -355px
}


/*Rsponsive*/

@media (min-width: 1270px) {
    .mode-switch {
        margin-top: 10px;
    }
}

@media (max-width: 991px) {
    .home-image {
        margin-top: 4em;
    }
    .home-image {
        margin-top: 4em;
        width: 25em;
    }
    h1 {
        color: #212121;
        font-size: 1.8em;
        margin: 22px 0;
    }
    h2 {
        color: #353535;
        font-size: 1.4em;
        font-weight: bold;
    }
    .quote-btn {
        margin-top: 15px;
    }
    .full-screen {
        padding: 9rem 0rem;
    }
    .mode-switch {
        margin-top: 1em;
    }
    .section-services {
        padding-top: 150px;
        padding-bottom: 120px;
        /*    margin-top: 20em;*/
        font-family: "Poppins", sans-serif;
        background-color: #DCDCDC;
    }
}

@media (max-width: 767px) {
    body {
        padding-top: 10px;
    }
    .mode-switch {
        margin-top: 10px;
    }
    .home-image img {
        margin-top: 4em;
        width: 24em;
        margin-right: 10px;
    }
    .quote-btn {
        margin-top: 0;
        margin-left: 5px;
    }
}

@media (max-width: 580px) {
    .mode-switch {
        margin-top: 10px;
    }
    .quote-btn {
        /*        margin-top: 0px;*/
        margin-left: 5px;
    }
    
}

@media (max-width: 450px) {
    .quote-btn {
        margin-top: 0px;
        margin-left: 5px;
    }
}

@media (max-width: 380px) {
    h1 {
        color: #212121;
        font-size: 1.8em;
        margin: 22px 0;
    }
    h2 {
        color: #353535;
        font-size: 1.4em;
        font-weight: bold;
    }
    .quote-btn {
        margin-top: 15px;
    }
    .full-screen {
        padding: 8rem 0;
    }
    .mode-switch {
        margin-top: 1em;
    }
    .section-services {
        padding-top: 150px;
    }
#clients {
    padding: 60px 60px;
    padding-bottom: 240px;
/*    z-index: -1;*/
/*    margin-bottom: -185px;*/
}

.contact-form .submit-btn {
/*    width: 200px;*/
    height: auto;
/*    margin-left: 60px;*/
}

.footer-area .copyright_part_text p {
  font-size: 10px;
}

}
